In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv("/kaggle/input/titanic/train.csv")
test = pd.read_csv("/kaggle/input/titanic/test.csv")
test_ids = test["PassengerId"]

In [3]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#data['Name']= data['Name'].apply(lambda x : x[x.find(',')+2:])
#data['Name']= data['Name'].apply(lambda x : x[:x.find('.')])
#data['Name'].head()

In [5]:
def clean(data):
    data = data.drop(["Ticket", "PassengerId", "Cabin"], axis=1)
    
    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    # Extracting titles
    data['Name']= data['Name'].apply(lambda x : x[x.find(',')+2:])
    data['Name']= data['Name'].apply(lambda x : x[:x.find('.')])
    le = preprocessing.LabelEncoder()
    data['Name'] = le.fit_transform(data['Name'])

    data.Embarked.fillna("U", inplace=True)
    return data

data = clean(data)
test = clean(test)

In [6]:
data

     Survived  Pclass  Name     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    11    male  22.0      1      0   7.2500        S
1           1       1    12  female  38.0      1      0  71.2833        C
2           1       3     8  female  26.0      0      0   7.9250        S
3           1       1    12  female  35.0      1      0  53.1000        S
4           0       3    11    male  35.0      0      0   8.0500        S
..        ...     ...   ...     ...   ...    ...    ...      ...      ...
886         0       2    14    male  27.0      0      0  13.0000        S
887         1       1     8  female  19.0      0      0  30.0000        S
888         0       3     8  female  28.0      1      2  23.4500        S
889         1       1    11    male  26.0      0      0  30.0000        C
890         0       3    11    male  32.0      0      0   7.7500        Q

[891 rows x 9 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    int64
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Fare      891 non-null    float64
 8   Embarked  891 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [8]:
le = preprocessing.LabelEncoder()
cols = ['Name','Sex','Embarked']

for col in cols: 
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])

In [9]:
data.head(3)

   Survived  Pclass  Name  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    11    1  22.0      1      0   7.2500         2
1         1       1    12    0  38.0      1      0  71.2833         0
2         1       3     8    0  26.0      0      0   7.9250         2

In [10]:
y = data["Survived"]
X = data.drop("Survived", axis=1)
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB().fit(X, y)
prediction = gnb.predict(X_val)

GaussianNB = accuracy_score(y_val, prediction)

In [11]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, max_iter=1000).fit(X, y)
predictions = clf.predict(X_val)
LogisticRegression = accuracy_score(y_val, predictions)

In [12]:
from sklearn import tree
clf1 = tree.DecisionTreeClassifier().fit(X, y)
prediction1 = clf1.predict(X_val)
DecisionTreeClassifier = accuracy_score(y_val, prediction1)

In [13]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
clf2 = RandomForestClassifier(max_depth=2, random_state=0).fit(X, y)
prediction2 = clf2.predict(X_val)
RandomForestClassifier = accuracy_score(y_val, prediction2)

In [14]:
from sklearn.neural_network import MLPClassifier
clf3 = MLPClassifier(alpha=1, max_iter=1000).fit(X, y)
prediction3 = clf3.predict(X_val)
MLPClassifier = accuracy_score(y_val, prediction3)

In [15]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
clf4 =  QuadraticDiscriminantAnalysis(). fit(X, y)
prediction4 = clf4.predict(X_val)
QuadraticDiscriminantAnalysis = accuracy_score(y_val, prediction4)

In [16]:
clf5 = AdaBoostClassifier(). fit(X, y)
prediction5 = clf5.predict(X_val)
AdaBoostClassifier = accuracy_score(y_val, prediction5)

In [17]:
print('GaussianNB',GaussianNB)
print('LogisticRegression',LogisticRegression)
print('DecisionTreeClassifier',DecisionTreeClassifier)
print('RandomForestClassifier',RandomForestClassifier)
print('MLPClassifier', MLPClassifier)
print('QuadraticDiscriminantAnalysis', QuadraticDiscriminantAnalysis)
print('AdaBoostClassifier', AdaBoostClassifier)

GaussianNB 0.770949720670391
LogisticRegression 0.8100558659217877
DecisionTreeClassifier 0.994413407821229
RandomForestClassifier 0.7877094972067039
MLPClassifier 0.8044692737430168
QuadraticDiscriminantAnalysis 0.8044692737430168
AdaBoostClassifier 0.8379888268156425

In [18]:
submission_preds = clf.predict(test) 
df = pd.DataFrame({"PassengerId": test_ids.values,
                   "Survived": submission_preds,
                  })
df.to_csv("submission2.csv", index=False)